<div class="wrapper">

    <div style="padding: 50px; background-color: black;">

    </div>

    <div class="main" style="background-color: rgb(199, 199, 255);">
        <div style="padding: 30px; background-color: rgb(199, 199, 255);"></div>
        <div style="background-color: white; border-radius: 10px; padding-top: 10px; padding-bottom: 30px;">

            <h1 style="width: 35%; background-color: rgb(63, 81, 181); text-align: center; color: white; margin-left: 34%; border-radius: 10px; padding: 10px;">Datos de usuario</h1>

            <div class="contenedor-principal" style="display: flex;">

                <div class="contenedor-secundario" style="border-right: 1px solid rgb(196, 196, 196); flex: 1; padding: 10px;">

                    <img src="https://cdn.discordapp.com/attachments/945873120798072882/1185088754550054942/image.png?ex=658e56e8&is=657be1e8&hm=6fd7e83f2cfc81a905c94019b03b67ef810eefc84f83136b87a3d47ae6d19806&" style="height: auto; width: auto; background-color: rgb(179, 179, 179); padding: 5px; margin-right: 20px; border-radius: 10px;">
                    <button class="cambiar-foto">Cambiar foto</button>

                </div>

                <div class="contenedor-secundario" style="border-right: 1px solid rgb(196, 196, 196); flex: 3; padding-top: 50px; display: block;">

                    <p style="font-weight: bold; font-size: xx-large;">Nombre: <span style="font-size: xx-large; font-weight: lighter;">Mclovin</span></p>

                    <p style="font-weight: bold; font-size: xx-large;">Apellido: <span style="font-size: xx-large; font-weight: lighter;">Ramires</span></p>

                    <p style="font-weight: bold; font-size: xx-large;">Correo: <span style="font-size: xx-large; font-weight: lighter;">Ejemploemail.com</span></p>

                    <p style="font-weight: bold; font-size: xx-large;">Contraseña: <span style="font-size: xx-large; font-weight: lighter;">Contraseña</span></p>

                    <p style="font-weight: bold; font-size: xx-large; margin-bottom: 65%;">Telefono: <span style="font-size: xx-large; font-weight: lighter;">6675229033</span></p>

                    <a href="#"><button class = "editar-perfil">Editar perfil</button></a>

                </div>

                <div class="contenedor-secundario" style="border-right: 1px solid rgb(196, 196, 196); flex: 6; display: flex; flex-wrap: wrap;">

                    <div style="background-color: rgb(230, 230, 230); padding: 5px; border-radius: 10px; width: 46%; margin-bottom: 10px;">
                        <p style="font-size: xx-large; font-weight: bolder; margin-bottom: -3px; text-align: center;">Licencia por delante: </p>
                        <img src="https://cdn.discordapp.com/attachments/945873120798072882/1185096955563622421/image.png?ex=658e5e8c&is=657be98c&hm=122d6a145f88b79a52746c9d7efa4974e924fa26d3c79c313586ca70bbd82810&" style="height: 250px; width: 400px; margin-left: 25px;">
                    </div>

                    <div style="background-color: rgb(230, 230, 230); padding: 5px; border-radius: 10px; width: 46%; margin-bottom: 10px; margin-left: 10px;">
                        <p style="font-size: xx-large; font-weight: bolder; margin-bottom: -3px; text-align: center;">Licencia por detras: </p>
                        <img src="https://cdn.discordapp.com/attachments/945873120798072882/1185096955563622421/image.png?ex=658e5e8c&is=657be98c&hm=122d6a145f88b79a52746c9d7efa4974e924fa26d3c79c313586ca70bbd82810&" style="height: 250px; width: 400px; margin-left: 25px;">
                    </div>

                    <div style="background-color: rgb(230, 230, 230); padding: 5px; border-radius: 10px; width: 46%; margin-bottom: 10px;">
                        <p style="font-size: xx-large; font-weight: bolder; margin-bottom: -3px; text-align: center;">INE </p>
                        <img src="https://cdn.discordapp.com/attachments/945873120798072882/1185097421206868018/image.png?ex=658e5efb&is=657be9fb&hm=28a70cc3d14898f48efd87dfd775abd2898c7011575953269e09155c39d4efec&" style="height: 250px; width: 400px; margin-left: 25px;">
                    </div>

                    <div style="background-color: rgb(230, 230, 230); padding: 5px; border-radius: 10px; width: 46%; margin-left: 10px;">
                        <p style="font-size: xx-large; font-weight: bolder; margin-bottom: -3px; text-align: center;">Tarjeta de credito/debito: </p>
                        <img src="https://handsonbanking.org/wp-content/uploads/2021/02/debitcard_front_blue.png" style="height: 250px; width: 400px; margin-left: 25px;">
                    </div>

                    <button class="cambiar-foto" style="margin-top: 50px;">Editar informacion de alguna tarjeta</button>

                </div>

            </div>

        </div>
    </div>

</div>