<div class="wrapper">

    <div style="padding: 50px; background-color: black;">

    </div>

    <div class="main" style="background-color: rgb(199, 199, 255); padding-top: 20px; min-height: 750px;">
        <div class="filter"></div>
        <div *ngFor="let item of reserved" class="row" style="width: 600px; height: 400px; padding-bottom: 30px; padding-left: 30px;">
            <mat-card style="z-index: 1; width:1400px; height: 200px;">
                <mat-card-content>
                    <mat-card-title style="text-align: center;">{{item.data.nombre_auto}}</mat-card-title>
                    <mat-card-subtitle style="text-align: center; padding-bottom: 5px;">{{item.data.modelo}}</mat-card-subtitle>
                    <img src="{{item.url}}" alt="" style="width: 60%; height: auto; padding-bottom: 5px;">

                    <button mat-raised-button color="primary" (click)="openModalVehicle (item, vehiclesTemplate)">Primary</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <!-- En tu componente que contiene el modal -->




</div>