<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <form class="card-model">
                        <h3 class="title title-model">Registro de Usuarios</h3>
                        <label>Nombre</label>
                        <div class="input-group flex-nowrap input-model">
                            <input name="name" type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        <label>Correo</label>
                        <div class="input-group flex-nowrap input-model">
                            <input name="email" type="text" class="form-control" placeholder="Correo" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        <label>Contraseña</label>
                        <div class="input-group flex-nowrap input-model">
                            <input type="password" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        <label>Telefono</label>
                        <div class="input-group flex-nowrap input-model">
                            <input type="text" class="form-control" placeholder="Telefono" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        <div style="padding: 20px;"></div>
                    </form>
                </div>

                <div class="col-md-4">
                    <form class="card-model">
                        <h3 class="title title-model">Registro de Usuarios</h3>
                        <label>Telefono</label>
                        <div class="input-group flex-nowrap input-model">
                            <input type="text" class="form-control" placeholder="Telefono" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        <label>Fotografía Delante</label>
                        <div class="input-group flex-nowrap input-model">
                            <input name="name" type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        <label>Fotografía Trasera</label>
                        <div class="input-group flex-nowrap input-model">
                            <input name="email" type="text" class="form-control" placeholder="Correo" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        <label>Licencia</label>
                        <div class="input-group flex-nowrap input-model">
                            <input type="password" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        <div style="padding: 20px;"></div>
                    </form>
                </div>

                <div class="col-md-4">
                    <form class="card-model">
                        <h3 class="title title-model">Registro de Usuarios</h3>
                        <label>I</label>
                        <div class="input-group flex-nowrap input-model">
                            <input name="name" type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        <label>Correo</label>
                        <div class="input-group flex-nowrap input-model">
                            <input name="email" type="text" class="form-control" placeholder="Correo" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        <label>Contraseña</label>
                        <div class="input-group flex-nowrap input-model">
                            <input type="password" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        <label>Telefono</label>
                        <div class="input-group flex-nowrap input-model">
                            <input type="text" class="form-control" placeholder="Telefono" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        <div style="padding: 20px;"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>