<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/space.gif');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div *ngIf="register === 1" class="col-md-8 mx-auto">
                    <div class="d-flex justify-content-center align-items-center">
                        <mat-card style="position: relative; z-index: 1; text-align: center;">
                            <mat-card-content>
                                <form class="example-form">

                                    <mat-form-field class="mb-4 example-full-width">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput name="name" #name="ngModel" [(ngModel)]="user.name" required minlength="5" [ngModelOptions]="{standasalone: true}" type="text" class="form-control" placeholder="">
                                    </mat-form-field>

                                    <mat-form-field class="mb-4 example-full-width">
                                        <mat-label>Correo</mat-label>
                                        <input matInput name="email" #email="ngModel" [(ngModel)]="user.email" required minlength="5" [ngModelOptions]="{standasalone: true}" type="email" class="form-control" id="email" placeholder="">
                                    </mat-form-field>

                                    <mat-form-field class="mb-4 example-full-width">
                                        <mat-label>Contraseña</mat-label>
                                        <input matInput name="password" #password="ngModel" [(ngModel)]="user.password" required minlength="5" [ngModelOptions]="{standasalone: true}" type="password" class="form-control" id="password" placeholder="">
                                    </mat-form-field>

                                    <mat-form-field class="mb-4 example-full-width">
                                        <mat-label>Verifique Contraseña</mat-label>
                                        <input matInput name="password" #password="ngModel" [(ngModel)]="user.password" required minlength="5" [ngModelOptions]="{standasalone: true}" type="password" class="form-control" id="password-repeat" placeholder="">
                                    </mat-form-field>

                                    <mat-form-field class="mb-4 example-full-width">
                                        <mat-label>Telefono</mat-label>
                                        <input matInput name="telefono" #telefono="ngModel" [(ngModel)]="user.telefono" required minlength="5" [ngModelOptions]="{standasalone: true}" type="text" class="form-control" placeholder="">
                                    </mat-form-field>

                                    <div style="padding: 20px;"></div>
                                </form>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

                <div *ngIf="register === 2" class="col-md-4">
                    <div class="card-model">
                        <h3 class="title title-model">Registro de Usuarios</h3>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Foto De Perfil</label>
                            <input matInput class="form-control" type="file" id="profile_pic" accept="image/png, image/jpeg" (change)="foto($event.target.files, 1)">
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Foto Delantera</label>
                            <input matInput class="form-control" type="file" id="id_front" accept="image/png, image/jpeg" (change)="foto($event.target.files, 2)">
                        </div>

                        <div class="mb-3">
                            <label for="formFile" class="form-label">Foto Trasera</label>
                            <input matInput class="form-control" type="file" id="id_back" accept="image/png, image/jpeg" (change)="foto($event.target.files, 3)">
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Licencia Delantera</label>
                            <input matInput class="form-control" type="file" id="licencia_front" accept="image/png, image/jpeg" (change)="foto($event.target.files, 4)">
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Licencia Trasera</label>
                            <input matInput class="form-control" type="file" id="licencia_back" accept="image/png, image/jpeg" (change)="foto($event.target.files, 5)">
                        </div>
                        <div style="padding: 20px;"></div>
                    </div>
                </div>

                <div *ngIf="register === 3" class="col-md-4">
                    <div class="card-model">
                        <h3 class="title title-model">Registro de Usuarios</h3>
                        <mat-form-field class="mb-4 example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput name="card" #card="ngModel" [(ngModel)]="user.card" required minlength="5" [ngModelOptions]="{standasalone: true}" type="text" class="form-control" id="numeros" placeholder="" minlength="16">
                            <label for="floatingInput">16 Numeros</label>
                        </mat-form-field>
                        <mat-form-field class="mb-4 example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput type="text" class="form-control" id="name_card" placeholder="">
                            <label for="floatingInput">Nombre</label>
                        </mat-form-field>
                        <mat-form-field class="mb-4 example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput name="cvv" #cvv="ngModel" [(ngModel)]="user.cvv" required minlength="5" [ngModelOptions]="{standasalone: true}" type="text" class="form-control" id="cvv" placeholder="" minlength="3">
                            <label for="floatingInput">CVV</label>
                        </mat-form-field>
                        <mat-form-field class="mb-4 example-full-width">
                            <mat-label>Favorite food</mat-label>
                            <input matInput name="fecha_vencimiento" #fecha_vencimiento="ngModel" [(ngModel)]="user.fecha_vencimiento" required minlength="5" [ngModelOptions]="{standasalone: true}" type="text" class="form-control" id="expired_data" placeholder="" minlength=5>
                            <label for="floatingInput">MM/YY</label>
                        </mat-form-field>
                        <div style="padding: 20px;"></div>
                    </div>

                </div>



            </div>
            <div class="row">
                <div class="col-2">
                    <button style="position: relative; z-index: 1;" type="submit" (click)="registrerUser()">Subir</button>
                </div>
            </div>
            <div class="row">
                <div class="footer register-footer text-center">
                    <h6>made with <i class="fa fa-heart heart"></i>Puro pinche uas y no mamadas</h6>
                </div>
            </div>
        </div>
    </div>