<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto">
                    <div class="card-model">
                        <h3 class="title">Registro de Usuarios</h3>
                        <form class="card-model">
                            <label>Nombre</label>
                            <div class="input-group flex-nowrap ImputBorder">
                                <input name="name" type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="addon-wrapping">
                            </div>
                            <label>Correo</label>
                            <div class="input-group flex-nowrap ImputBorder">
                                <input name="email" type="text" class="form-control" placeholder="Correo" aria-label="Username" aria-describedby="addon-wrapping">
                            </div>
                            <label>Contraseña</label>
                            <div class="input-group flex-nowrap ImputBorder">
                                <input type="password" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="addon-wrapping">
                            </div>
                            <label>Telefono</label>
                            <div class="input-group flex-nowrap ImputBorder">
                                <input type="text" class="form-control" placeholder="Telefono" aria-label="Username" aria-describedby="addon-wrapping">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer register-footer text-center">

            </div>
        </div>
    </div>
</div>