<div class="wrapper">

    <div style="padding: 50px; background-color: black;">

    </div>

    <div class="main" style="background-color: rgb(199, 199, 255);">
        <div style="padding: 20px; background-color: rgb(199, 199, 255);"></div>
        <div style="width: 900px; height: 60px; margin: 0 auto; margin-bottom: 30px; background-color: rgb(255, 255, 255); padding-top: 15px; border-radius: 20px;">

            <mat-form-field class="example-form-field pr-md-3 pl-md-2">
                <mat-label>Seleccione un rango</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="rangePicker">
                    <input matStartDate formControlName="start" placeholder="Inicio">
                    <input matEndDate formControlName="end" placeholder="Fin">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #rangePicker>
                    <mat-date-range-picker-actions>
                        <button mat-button matDateRangePickerCancel>Cancelar</button>
                        <button mat-raised-button color="primary" matDateRangePickerApply (click)="consoleLog()">Aplicar</button>
                    </mat-date-range-picker-actions>
                </mat-date-range-picker>
            </mat-form-field>

            <mat-form-field class="pr-md-3" style="width: 80px; height: auto;">
                <mat-label>Dias</mat-label>
                <input *ngIf="dias === undefined" matInput disabled>
                <input *ngIf="dias !== undefined" matInput [value]="dias" readonly style="width: 80px;">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Tipo de Auto</mat-label>
                <mat-select [(ngModel)]="selectedModel" name="food" (selectionChange)="selectModel($event)">
                    <mat-option *ngFor="let model of models" [value]="model">
                        {{model}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!--p>Selected range: {{range.value | json}}</p-->

        </div>
        <div class="d-flex flex-wrap justify-content-around align-items-stretch" style="background-color: rgb(199, 199, 255);">
            <!--div *ngFor="let item of catalogo" class="col-md-2" style="padding-bottom: 10px; margin-right: 10px;">
                <mat-card style="z-index: 1; text-align: center; width: 300px; height: 400px; display: flex; flex-direction: column;">
                    <mat-card-content style="flex: 1;">
                        <mat-card-title style="text-align: center;">{{item.data.nombre_auto}}</mat-card-title>
                        <mat-card-subtitle style="text-align: center; padding-bottom: 5px;">{{item.data.modelo}}</mat-card-subtitle>
                        <img src="{{item.url}}" alt="" style="width: 60%; height: auto; padding-bottom: 5px;">
                    </mat-card-content>
                    <button mat-raised-button color="primary" (click)="openModalVehicle(item, vehiclesTemplate)">Detalles</button>
                </mat-card>
            </div-->

            <div *ngFor="let item of catalogo" class="col-md-2" style="padding-bottom: 10px; margin-right: 10px;">
                <mat-card style="z-index: 1; text-align: center; width: 300px; height: 450px; display: flex; flex-direction: column;">
                    <mat-card-content style="flex: 1;">
                        <!-- Contenido del mat-card -->
                        <mat-card-title style="text-align: left;">{{item.data.nombre_auto}}</mat-card-title>
                        <mat-card-subtitle style="text-align: left; padding-bottom: 20px;">{{item.data.modelo}}</mat-card-subtitle>
                        <img src="{{item.url}}" alt="" style="width: 160px; height: 111px; padding-bottom: 5px;">
                        <mat-card-subtitle style="text-align: center; margin-top: 2%; color: black;">2 Pasajeros</mat-card-subtitle>
                        <mat-card-subtitle style="text-align: center; margin-top: -4%; color: black; padding-bottom: 5%;">Standar</mat-card-subtitle>

                        <div style="padding: 0; display: flex; border-top: 1px solid; border-bottom: 1px solid; padding: 10px; border-color: rgb(180, 180, 180);">

                            <span style="padding-left: 10px; padding-right: 10px; flex: 1; font-size: small;"> 2 Maletas </span>
                            <span style="padding-left: 10px; padding-right: 10px; flex: 1; font-size: small;"> A/C </span>
                            <span style="padding-left: 10px; padding-right: 10px; flex: 1; font-size: small;"> Air bag </span>
                            <span style="padding-left: 10px; padding-right: 10px; flex: 1; font-size: small;"> 4 Puertas </span>

                        </div>

                    </mat-card-content>
                    <!-- Botón al final del mat-card -->
                    <button mat-raised-button color="primary" style="margin-bottom: 5px;">Reservar</button>
                    <button mat-raised-button color="primary" (click)="openModalVehicle(1, vehiclesModelo)">Detalles</button>
                </mat-card>
            </div>

            <div class="col-md-2" style="padding-bottom: 10px; padding-top: 10px;">
                <mat-card style="z-index: 1; text-align: center; width: 400px; height: auto; display: flex; flex-direction: column;">
                    <mat-card-content style="flex: 1;">
                        <!-- Contenido del mat-card -->
                        <mat-card-title style="text-align: left;">Caballo</mat-card-title>
                        <mat-card-subtitle style="text-align: left; padding-bottom: 20px;">Vehiculo economico</mat-card-subtitle>
                        <img src="https://concepto.de/wp-content/uploads/2021/07/caballos-e1626738224231.jpg" alt="" style="width: 60%; height: auto; padding-bottom: 5px;">
                        <mat-card-subtitle style="text-align: center; margin-top: 2%; color: black;">2 Pasajeros</mat-card-subtitle>
                        <mat-card-subtitle style="text-align: center; margin-top: -4%; color: black; padding-bottom: 5%;">Standar</mat-card-subtitle>
                        <div style="padding: 0; display: flex; border-top: 1px solid; border-bottom: 1px solid; padding: 10px; border-color: rgb(180, 180, 180);">
                            <span style="padding-left: 10px; padding-right: 10px; flex: 1; font-size: small;"> 2 Maletas </span>
                            <span style="padding-left: 10px; padding-right: 10px; flex: 1; font-size: small;"> A/C </span>
                            <span style="padding-left: 10px; padding-right: 10px; flex: 1; font-size: small;"> Air bag </span>
                            <span style="padding-left: 10px; padding-right: 10px; flex: 1; font-size: small;"> 4 Puertas </span>
                        </div>
                    </mat-card-content>
                    <!-- Botón al final del mat-card -->
                    <button mat-raised-button color="primary" style="margin-bottom: 5px;">Reservar</button>
                    <button mat-raised-button color="primary" (click)="openModalVehicle(1, vehiclesModelo)">Detalles</button>
                </mat-card>
            </div>


        </div>


    </div>


    <!-- En tu componente que contiene el modal -->
    <ng-template #vehiclesTemplate styles="z-index: 999;">

        <div class="modal-header">
            <h2 class="modal-title text-center">{{vehicleModalData.data.nombre_auto}}</h2>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-8">
                    <img src="{{vehicleModalData.url}}" alt="" style="width: 80%; height: auto; padding-bottom: 5px;">
                </div>
                <div class="col-md-2">
                    <p>{{vehicleModalData.data.modelo}}</p>
                    <p>{{vehicleModalData.data.color}}</p>
                    <p>{{vehicleModalData.data.placas}}</p>
                    <p>{{vehicleModalData.data.descripcion}}</p>



                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button mat-raised-button color="primary">Rentar</button>
        </div>

    </ng-template>

    <ng-template #vehiclesModelo>

        <div class="modal-header" style="background-color: rgb(63, 81, 181);">
            <h1 class="modal-title text-center" style="color: white; margin-top: 2%;"> Caballo</h1>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="https://concepto.de/wp-content/uploads/2021/07/caballos-e1626738224231.jpg" alt="" style="width: 100%; height: auto; padding-bottom: 5px;">
                </div>
                <div class="col-md-6" style="display: flex;">
                    <div style="flex: 1; border-right: 1px rgb(179, 179, 179) solid;">

                        <p><b>Modelo:</b></p>
                        <p><b>Color:</b></p>
                        <p><b>Placas:</b></p>
                        <p><b>Año:</b></p>

                    </div>
                    <div style="flex: 1; padding-left: 5px;">

                        <p><b>Descripcion:</b></p>
                        <p><b>Renta:</b></p>
                        <p><b>Precio:</b></p>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button mat-raised-button color="primary" style="margin: 10px; margin-top: 1%; margin-bottom: 1%; margin-right: 40%; width: 20%;">Reservar</button>
        </div>

    </ng-template>




</div>